.live {
    display: grid;
    grid-template-columns: repeat(2, 70% 30%);
    column-gap: 18px;
    margin: 10px 80px 10px 100px;
}

.live .item1 h5 {
    margin: 20px auto;
}

.live .item1 video {
    height: 70vh;
    width: 100%;
}